<%- include('./partials/header.ejs') %>
  <section id="login-page">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-4 background-part pt-5">
          <div class="container">
            <div class="text-wrapper">
              <h1 class="fw-bold">Rank your favorite movie</h1>
              <p class="mt-3">The site provides its users with a list-like system to organize and score movie and tv
                shows.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 login-part pt-5">
          <div class="title">
            <h1 class="mb-3 text-center"><span>MYM</span>ovie</h1>
            <h3 class="mb-3 text-center">Log in to your account</h3>
          </div>
          <div class="d-flex justify-content-center">
            <form action="/auth/signin" method="post">
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" name="email" required class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" required class="form-control">
              </div>
              <button type="submit" id="login" class="btn">Sign In</button>
            </form>
          </div>
          <p class="text-center mt-5">Dont have an account? <a href="/auth/register">Sign Up</a></p>
        </div>

      </div>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %>